* {
  padding: 0;
  margin: 0;
}

.dePyzG {
  width: 500px !important;
  margin: 0 10px;
}

.dePyzG input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-weight: 500;
  color: rgb(70, 62, 62) !important;
}
